.Box {  
    margin-left: 20px;
}

.Box-btn {
    border-radius: 4px;
    height: 25px;
    width: 25px;
    padding: 2px;
    margin-left: 10px;
    align-items: center;
    background-color: gray;
    text-align: center;
    color: white;
    cursor: pointer;

}

.Box-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}